PORT=5000
GEMINI_API_KEY=
GEMINI_TEXT_MODEL=gemini-2.0-flash
GEMINI_IMAGE_MODEL=gemini-2.0-flash-preview-image-generation
ADOBE_CLIENT_ID=
ADOBE_CLIENT_SECRET=
ADOBE_ORG_ID=
ADOBE_ACCOUNT_ID=
ADOBE_PRIVATE_KEY=
ADOBE_PDF_TEMPLATE_PATH=./templates/proposal-template.docx
