PORT=5000
GOOGLE_CLOUD_PROJECT=buildbystar-a109d
GOOGLE_CLOUD_LOCATION=global
GOOGLE_APPLICATION_CREDENTIALS=./vertex-key.json
VERTEX_TEXT_MODEL=gemini-2.5-flash
VERTEX_IMAGE_MODEL=gemini-2.5-flash-image
ADOBE_CLIENT_ID=
ADOBE_CLIENT_SECRET=
ADOBE_ORG_ID=
ADOBE_ACCOUNT_ID=
ADOBE_PDF_TEMPLATE_PATH=./templates/proposal-template.docx
